In [5]:
import pandas as pd

application_df = pd.read_csv('application_record.csv')
credit_df = pd.read_csv('credit_record.csv')

# Remove rows where STATUS is 'X'
credit_df_cleaned = credit_df[credit_df['STATUS'] != 'X']

# Drop the 'MONTHS_BALANCE' column
credit_df_cleaned = credit_df_cleaned.drop(columns=['MONTHS_BALANCE'])

mode_status = credit_df_cleaned.groupby('ID')['STATUS'].agg(lambda x: x.mode()[0]).reset_index()
mode_status.rename(columns={'STATUS': 'mode_status'}, inplace=True)

# Merge two datasets
merged_df = pd.merge(application_df, mode_status, on='ID', how='inner')

output_path = 'cleaned_merged_data.csv'
merged_df.to_csv(output_path, index=False)

In [7]:
mode_status.head()

        ID mode_status
0  5001711           0
1  5001712           0
2  5001717           0
3  5001718           0
4  5001719           C